*.la
*.lo
*.o
*.pyc
.deps
.libs
MANIFEST
Makefile.in
_trial_temp
build
c/Makefile
c/aclocal.m4
c/autom4te.cache/
c/config.*
c/configure
c/depcomp
c/install-sh
c/install-sh c/missing c/INSTALL
c/lib/Makefile
c/ltmain.sh
c/missing
dist
doc/html
remsh.egg-info
c/libtool
c/m4
c/test/Makefile
c/test/xport-fd
c/test/wire
